#algolia-settings .panel .content table {
    width: 100%;
    border-spacing: 0;
}
#algolia-settings .panel .content table th, #algolia-settings .panel .content table td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
#algolia-settings .panel .content table th {
    background: #EFEFEF;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

#algolia-settings .panel .content table .no-border {
    border: 0;
    background: none;
}

#algolia-settings .panel .content .content-item
{
    clear: both;
}

#algolia-settings .panel .title
{
    text-align: center;
    padding: 5px;
    border-bottom: solid 1px #DDDDDD;
}

#algolia-settings .panel .show-hide
{
    margin-left: 50px;
}

#algolia-settings .table-col-enabled {
    width: 75px;
}

#algolia-settings .tabs .title
{
    float: left;
    display: inline;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    border: solid 1px #DDDDDD;
    border-bottom: none;
    margin-right: 2px;
    cursor: pointer;
}

#algolia-settings #extra-metas-attributes tr td:nth-child(n+3),
#algolia-settings #extra-metas-attributes tr th:nth-child(n+3),
#algolia-settings #taxonomies tr td:nth-child(n+3),
#algolia-settings #taxonomies tr th:nth-child(n+3)
{
    display: none;
}

#algolia-settings #extra-meta-and-taxonomies
{
    margin-bottom: 20px;
}

#algolia-settings #_extra-metas .title.selected
{
    background-color: white;
    border-bottom: solid 1px #f5f5f5;
    margin-bottom: -1px;
    padding-bottom: 11px;
    cursor: auto;
}

#algolia-settings #_extra-metas .title
{
    float: left;
    display: inline;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background-color: rgba(241, 241, 241, 1);
    border: solid 1px #DDDDDD;
    border-bottom: none;
    margin-right: 2px;
    cursor: pointer;
}

#algolia-settings .tabs .title.selected
{
    background-color: white;
    border-bottom: solid 1px #f5f5f5;
    margin-bottom: -1px;
    padding-bottom: 11px;
    cursor: auto;
}

#algolia-settings .tabs
{
    border-bottom: solid 1px #DDDDDD;
}

#algolia-settings #results-wrapper .content-item
{
    padding: 5px;
}

#algolia-settings #results-wrapper
{
    padding: 10px 5px;
    border: solid 1px #DDDDDD;
    background-color: white;
    margin-top: 20px;
}

#algolia-settings #taxonomies tbody,
#algolia-settings #extra-metas tbody,
#algolia-settings #indexable-types tbody,
#algolia-settings #custom-ranking tbody,
#algolia-settings #searchable_attributes tbody,
#algolia-settings #sortable_attributes tbody
{
    cursor: move;
}

#algolia-settings .no-screenshot
{
    height: 18px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

#algolia-settings .warning
{
    background-color: #c7deec;
    padding: 10px;
    margin-top: -20px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

.header-button
{
    float: right;
    margin-right: 20px !important;
}

#algolia_reindex i
{
    vertical-align: middle;
}

#dashboard-link {
    display: block;
    margin-top: 0.5em;
}

#algolia-settings .theme-browser .theme
{
    cursor: pointer;
    float: left;
    margin: 0 4% 4% 0;
    position: relative;
    width: 30.6%;
    border: 1px solid #dedede;
}

#algolia-settings .theme-browser .theme .theme-screenshot
{
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#algolia-settings .theme-browser .theme .theme-screenshot img
{
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#algolia-settings .theme-browser .theme .theme-name {
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    margin: 0;
    padding: 15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    background: rgba(255,255,255,.65);
}

#algolia-settings .theme-browser .theme .theme-screenshot:after {
    content: '';
    display: block;
    padding-top: 66.66666%;
}